<%- include("layout/header")%>

<div class="container">
  <div class="row">
    <div class="col-lg-6 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-success">
          <h3 class="text-light">Edit User (<%= user.name  %>)</h3>
        </div>
        <div class="card-body p-4">
          <form
            action="/update/<%= user._id %>"
            method="post"
            id="add-form"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control form-control-lg"
                placeholder="Enter name"
                required
                value="<%= user.name %>"
              />
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                class="form-control form-control-lg"
                placeholder="Enter Email"
                required
                value="<%= user.email %>"
              />
            </div>
            <div class="mb-3">
              <label for="name">phone</label>
              <input
                type="tel"
                name="phone"
                class="form-control form-control-lg"
                placeholder="Enter ph_no"
                required
                value="<%= user.phone %>"
              />
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">select image</label>
              <input
                type="file"
                class="form-control form-control-lg"
                name="image"
              />
              <img src="/<%= user.image %>" width="100" class="img-thumbnail mt-1">
            </div>
            <input type="hidden" name="old-image" value=" <%= user.image  %>">
            <div class="mb-3 d-grid">
              <input
                type="submit"
                name="submit"
                value="Update User"
                class="btn btn-success btn-ig"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("layout/footer")%>
